<ion-header>
  <ion-toolbar>
    <ion-title>notificaciones</ion-title>
  </ion-toolbar>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</ion-header>

<ion-content class="w3-center">
  <h6 color="light">A Don Comedia le gusta tu perfil</h6>
  <br>
  <h6 color="light">A Sara le gusta tu perfil</h6>
</ion-content>
<br>
<ion-content >
  <div class="w3-bar w3-black">
  
  <ion-button expand="block" color="light" [routerLink]="['/perfil']">Perfil</ion-button>
  <ion-button expand="block" color="light" [routerLink]="['/buscar-talento']">Buscar Talentosos</ion-button>
  

</div>
<ion-button  color="light" [routerLink]="['/tabs']">Volver</ion-button>
</ion-content>
