<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-input placeholder="Email" inputmode="email" ></ion-input>
  <ion-input placeholder="Contraseña" ></ion-input>

  <ion-button color="light">Login</ion-button>
  <ion-button color="light">Registrarme</ion-button>

</ion-content>



  



